/*-------- Grid System -------- */


.grid {
	width: 90vw;
	margin-left: 5vw;
}



$rows: 24;

$paddingLeft: ((100/24)/100) * 16.6666 + 0%;






/* 
	Define the width of elements 

	returns partial of 100%
*/
@mixin w1() {
	width: (100/$rows) * 1 + 0%;
}

@mixin w2() {
	width: (100/$rows) * 2 + 0%;
}

@mixin w3() {
	width: (100/$rows) * 3 + 0%;
}

@mixin w4() {
	width: (100/$rows) * 4 + 0%;
}

@mixin w5() {
	width: (100/$rows) * 5 + 0%;
}

@mixin w6() {
	width: (100/$rows) * 6 + 0%;
}

@mixin w7() {
	width: (100/$rows) * 7 + 0%;
}

@mixin w8() {
	width: (100/$rows) * 8 + 0%;
}

@mixin w9() {
	width: (100/$rows) * 9 + 0%;
}

@mixin w10() {
	width: (100/$rows) * 10 + 0%;
}

@mixin w11() {
	width: (100/$rows) * 11 + 0%;
}

@mixin w12() {
	width: (100/$rows) * 12 + 0%;
}

@mixin w13() {
	width: (100/$rows) * 13 + 0%;
}

@mixin w14() {
	width: (100/$rows) * 14 + 0%;
}

@mixin w15() {
	width: (100/$rows) * 15 + 0%;
}

@mixin w16() {
	width: (100/$rows) * 16 + 0%;
}

@mixin w17() {
	width: (100/$rows) * 17 + 0%;
}

@mixin w18() {
	width: (100/$rows) * 18 + 0%;
}

@mixin w19() {
	width: (100/$rows) * 19 + 0%;
}

@mixin w20() {
	width: (100/$rows) * 20 + 0%;
}

@mixin w21() {
	width: (100/$rows) * 21 + 0%;
}

@mixin w22() {
	width: (100/$rows) * 22 + 0%;
}

@mixin w23() {
	width: (100/$rows) * 23 + 0%;
}

@mixin w24() {
	width: 100%;
}





/* 
	Define the distance from the left of the element + padding

	returns partial of 100%
*/
@mixin l0() {
	padding-left: $paddingLeft;
}

@mixin l1() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 1 + 0%;
}

@mixin l2() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 2 + 0%;
}

@mixin l3() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 3 + 0%;
}

@mixin l4() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 4 + 0%;
}

@mixin l5() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 5 + 0%;
}

@mixin l6() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 6 + 0%;
}

@mixin l7() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 7 + 0%;
}

@mixin l8() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 8 + 0%;
}

@mixin l9() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 9 + 0%;
}

@mixin l10() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 10 + 0%;
}

@mixin l11() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 11 + 0%;
}

@mixin l12() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 12 + 0%;
}

@mixin l13() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 13 + 0%;
}

@mixin l14() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 14 + 0%;
}

@mixin l15() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 15 + 0%;
}

@mixin l16() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 16 + 0%;
}

@mixin l17() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 17 + 0%;
}

@mixin l18() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 18 + 0%;
}

@mixin l19() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 19 + 0%;
}

@mixin l20() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 20 + 0%;
}

@mixin l21() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 21 + 0%;
}

@mixin l22() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 22 + 0%;
}

@mixin l23() {
	padding-left: $paddingLeft;
	margin-left: (100/$rows) * 23 + 0%;
}