body {
	font-family: 'Helvetica', sans-serif;
	
	background-color: var(--white);
	color: var(--black);

	line-height: 1.4;
}

/* Font smoothing hack */
html, html a {
	-webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-tap-highlight-color: transparent
}

//Style of selection
::-moz-selection {
	background: var(--black);
} 

::selection {
	background: var(--black);
} 

/* Show this when no Javascript is activated */
noscript {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;

	background-color: var(--white);
	z-index: var(--alwaysOnTop);

	display: flex;
	justify-content: center;
	align-items: center;
}


/* Debug view for container sizes */
// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }