body {
	font-family: 'Helvetica', sans-serif;
	
	background-color: var(--white);
	color: var(--black);

	line-height: 1.4;
}

/* Font smoothing hack */
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}