.slider-container {
	position: relative;
	width: 100%;
	overflow: hidden;

	.slider {
		display: flex;
		justify-content: flex-start;
		flex-wrap: nowrap;

		cursor: move;
		cursor: grab;
		height: auto;

		 &:active {
		    cursor: grabbing;
		}
	}

	.slide-el {
		display: flex;
		flex-shrink: 0;
	}

	img {
		pointer-events: none;
		user-select: none;
	}
}